# Day 5
***
###  학습 목표 

#### 1) Pandas package 학습 
  - Pandas 데이터 구조      
    1. DataFrame
    2. Series
  
  
  - Pandas 데이터 불러오기
    1. read_csv
    2. read_excel
    3. read_sql_query
  
  
  - Pandas 데이터 내용 확인
    1. head
    2. describe
    3. iloc 
    
    
  - Pandas 데이터 가공
    1. groupby
    2. apply
    3. merge
    4. concat  
    5. cut
    6. drop
    7. dropna 
    8. fillna 
    9. mean/std/min/max/corr 
    
    
  - Pandas 데이터 내보내기
    1. to_excel
      
      
(Pandas API documentation : http://pandas.pydata.org/pandas-docs/stable/index.html)

***
### Pandas 학습

- Pandas 데이터 구조 

    1. DataFrame : 행, 열으로 이루어진 excel 데이터 형식이라고 생각하시면 됩니다.
    ```python
    import pandas as pd
    data_frame = pd.DataFrame(data = [[1,2], [2,3]], columns = ['A','B'], index = ['a','b'])
    ```
    2. Series : 행 또는 열로 이루어진 데이터 형식으로 series가 모여서 dataframe이 됩니다.
    ```python
    import pandas as pd
    data_series = pd.Series(data = [1,2], name = 'a')
    ```

In [12]:
# 예제1) Dataframe를 생성해봅시다.

#1. pandas를 import합니다.

#2. 3*2(row*column) 형태의 dataframe 을 만들겠습니다.

#3. column명은 grade, qty로 명명해주고 index는 따로 추가하지 않습니다. 내용은 각자 채워주세요

- Pandas 데이터 불러오기
    
    1. read_csv : txt, csv, xls 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python 
    names = ['날짜','Lot','Frame수'...]                    # Column명을 names이라는 변수에 저장한다.
    data = pd.read_csv('20160715DC02017.txt', sep = '\t')  # read_csv 함수를 이용해 20160715DC02017.txt 파일을 읽어 data 변수에 저장한다.  
    ```
    2. read_excel : xlsx 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python
    names = ['날짜','Lot','Frame수'...]                                 # Column명을 names이라는 변수에 저장한다.
    data = pd.read_excel('20160715DC02017.xlsx', sheetname = 'Sheet1')  # read_excel 함수를 이용해 20160715DC02017.xlsx 파일을 읽어 data 변수에 저장한다.
    ```
    3. read_sql_query : 데이터베이스에서 Query문을 통해 데이터를 가져올 때 사용하는 함수입니다.
    ```python
    # db1 데이터베이스에서 Lot가 20160715DC02017인 정보를 모두 가져와서 data라는 변수에 저장한다. 
    data = pd.read_sql_query("SELECT * FROM tb_iem120 WHERE unique_lot_no = '20160715DC02017'", db1)
    ```

In [92]:
# 예제2) 자동검사기 파일을 불러옵니다.

names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형(10진수)','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

#0. 현재 작업 폴더를 확인하고 optical_python 내 dataset이라는 폴더를 작업 폴더로 만들어주세요. 

#1. dataset라는 폴더 내에 20160715DC02017.txt 파일을 read_csv 함수를 이용해서 불러와보세요. (변수 : data_1)

#2. dataset라는 폴더 내에 20160715DC02017.xlsx 파일을 read_excel 함수를 이용해서 불러와보세요. (변수 : data)

In [79]:
import pandas as pd

In [97]:
names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형(10진수)','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

data_1 = pd.read_csv('20160715DC02017.txt', sep = '\t', names = names)

In [111]:
data = pd.read_excel('20160715DC02017.xlsx', header = None, names = names)

In [113]:
data.columns = names

- Pandas 데이터 내용 확인
    1. head : 데이터 가장 상단의 몇 줄만 확인할 때 사용합니다. (주로 데이터가 잘 불러졌는 지 확인할 때 사용.) 
    ```python
    data.head(5)     # data row 5개 줄을 확인합니다. 
    ```
    
    2. describe : 데이터의 기본적인 통계 수치를 확인할 때 사용합니다. (max, min, mean, std 등)
    
    ```python
    data.describe()  
    ```
    
    3. iloc : 데이터의 행, 열을 지정하여 불러오거나 특정 범위만큼 선택할 때 사용합니다.
    
    ```python
    data.iloc[1,1]   # data의 1열 1행의 값을 확인합니다. 
    data.iloc[1:, 1] # data의 1~열 1행의 값을 확인합니다.
    ```
    
    4. columns, index : column과 index로 지정된 값을 확인합니다.
    ```python
    data.columns  # data의 column을 확인합니다.
    data.index    # data의 index를 확인합니다. 
    ```

In [17]:
# 예제3) 위에서 불러온 data라는 변수의 기본적인 내용 확인 과정입니다.

#1. data의 상단 10줄을 head라는 함수를 사용해서 출력해보세요 

#2. data의 기본 통계 수치를 describe 함수를 사용해서 출력해보세요 

#3. data의 전체 열, 3~행을 iloc을 사용해서 출력해보세요. 

#4. data의 1열 1행의 값에 숫자 3을 대입해보세요. 값이 바뀌나요?

- Pandas 데이터 선택 

    1. 기본 내용 :     
    
        - 기본적으로 행/열 선택 시 [] (**Series**), [[]] (**DataFrame**) 방식으로 선택할 수 있습니다. 물론 Series는 1개 행/열만 해당합니다.  
    
        - 1개 행/열 선택 시에는 data[행이름/열이름] (**Series**) 혹은 data[[행이름/열이름]] (**DataFrame**) 형식으로 선택할 수 있습니다.  
    
        - 다수 행/열 선택 시에는 data[['행이름1, 행이름2, ...']] 의 형식으로 선택할 수 있습니다. (**DataFrame**)
    
        - 특정 조건을 가진 데이터를 선택하고 싶을 때는 원하는 행에 조건을 걸어 boolean으로 만들어 준 후 data내에서 True값만 반환합니다. 
        ```python
        data[data['col1'] > 5] # col1행 값 중 5보다 큰 값의 index에 해당되는 data를 가져옵니다. 
        data[(data['col1'] > 5) | (data['col1'] < 10)]  # col1행 값 중 5보다 크고 10보다 작은 값의 index에 해당되는 data를 가져옵니다.
        ```            
        
    2. 행 선택 : 
    ```python
    data[data['col1'] >5]
    
    3. 열 선택 : 
    
    4. 행/열 변환 :

- Pandas 데이터 가공
    
    1. drop : 데이터를 삭제합니다. 삭제하는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향)
    ```python
    data.drop('col1', axis = 1, inplace = True)         # data의 col1행을 1(행 방향으로) 삭제하고 변수에 저장합니다.  
    data = data.drop('col1', axis = 1, inplace = False) # 위와 같은 내용입니다.
    ```
    2. dropna : na값의 데이터를 삭제합니다. na에는 NaN, None 등의 값(데이터 없음)들이 포함됩니다. 
    ```python
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.dropna()   # 설정을 default 값으로 한 후에 실행합니다. 
    data.dropna(axis = 0, how = 'any', subset = ['num1'])  # 열 방향으로, num1행에 대해서 모든(any)na에 대해 drop합니다. 
    ```  
    3. fillna : na값의 데이터를 원하는 값으로 채워줍니다. 
    ```python 
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.fillna(0, inplace = True)  # na값을 0이라는 숫자로 채우고 적용하고 변수에 저장합니다.  
    data = data.fillna(0)           # 위와 같은 내용입니다. 
    ```
    
    4. cut : Series의 숫자 data를 원하는 범위만큼 잘라서 구분해줍니다. 그리고 해당 범위에 label을 붙여줍니다. 
    ```python
    data = pd.DataFrame(data = [i for i in range(0,20)], columns = ['num1'])
    # 값을 0, 5, 10, 20 으로 구분하고 그룹화합니다. 그리고 그룹에 순서대로 매칭되는 label을 붙여줍니다.  
    pd.cut(data['num1'], bins = [0, 5, 10, 20], labels = ['0~5','5~10','10~20'], include_lowest = True)
    ```
    
    5. mean/std/min/max/corr : 주요 기초 통계 값들을 불러올 때 사용합니다. DataFrame, Series 모두에 사용해도 무방하며 숫자로 이루어진 행만 출력될 것입니다. 
    ```python
    data = pd.DataFrame(data = [['a',1, 3],['b',2, 4],['c',3, 6]], columns = ['alp','num1','num2'])
    data.mean()  # 평균 값을 가져옵니다.
    data.std()   # 표준편차 값을 가져옵니다.
    data.min()   # 최대값을 가져옵니다.
    data.max()   # 최소값을 가져옵니다.
    data.corr()  # 상관관계 나타냅니다. 
    ```
   
    6. apply : 한 행 또는 열에 대해서 함수를 적용시켜 값을 변환합니다. lambda와 함께 사용 시 제어문, 함수를 동시에 사용하여 apply 내에 복잡한 값 변환을 할 수 있습니다. Series 형태의 데이터만 apply가 적용 가능합니다.
    ```python
    data['col1'].apply(lambda x: x+1)  # col1 행에 대해 함수를 적용해서 내용을 바꿔줍니다.(x → x+1)
    ```
    
    8. concat : DataFrame 또는 Series를 합칠 때 사용합니다. 합치는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향) 
    ```python
    data_1 = pd.DataFrame(data = [1,2])
    data_2 = pd_DataFrame(data = [2,3])
    data_concat_0 = pd.merge([data_1, data_2], axis = 0)  # 아래로 쌓습니다.(열 개수 증가.)
    data_concat_1 = pd.merge([data_1, data_2], axis = 1)  # 옆으로 쌓습니다.(행 개수 증가.)
    ```
    
    9. merge
    ```python
    pd.merge(
    ```
    
    10. groupby : 엑셀의 pivot의 행 레이블에 들어가는 값이 groupby 내에 들어가고 값 레이블에 들어가는 값이 이후 [[]] (dataframe) 안에 들어가게 됩니다. 그 다음에 행하려는 함수를 입력해줍니다.
    ```python
    data.groupby(['col1','col2'])[['col3', 'col4']].sum()  # data를 col1, col2로 묶고 col3, col4에 대해 sum()함수를 적용합니다.
    ```

In [117]:
names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형(10진수)','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']


# 예제4) 데이터 가공

#1. 위에서 불러온 검사기 data에서 필요한 행만 남기고 지울 예정입니다. 
  # 행 이름(names)을 참고하셔서 '불량유형(10진수)','X','y','X-Size','Y-Size','Value'를 제외한 행을 다 삭제해주세요 
    
#2. data에 na값들을 넣어놨습니다. 값을 확인하고 다 지워보고(dropna) 원하시는 값으로 채워보세요 (fillna)

data[data.isnull().any(axis=1)] # null 값이 있는 열을 나타내줍니다. 

#3.

,날짜,Lot,Frame수,카메라 번호,사용안함,INDEX,불량유형(10진수),X,y,X-Size,Y-Size,불량이미지,사용안함,사용안함,Value,흑점,조명밝기
12,20160715222019,20160715DC02017,5412,902,0,0,NaN,57.63,34.62,0.751,1.687,20160715DC02017\NEL-902\NEL-902[22-20-19]_[005...,0,254112.3252,105,255.0,62.00
25,20160715223127,20160715DC02017,12129,903,0,0,2305.0,199.63,19.22,NaN,0.367,20160715DC02017\NEL-903\NEL-903[22-31-27]_[012...,0,569440.5959,102,255.0,60.00
44,20160715223719,20160715DC02017,15943,905,0,0,2305.0,NaN,25.01,0.375,0.220,20160715DC02017\NEL-905\NEL-905[22-37-19]_[015...,0,748502.6253,21,255.0,59.00
56,20160715221320,20160715DC02017,1535,906,0,0,NaN,532.28,22.08,0.225,0.293,20160715DC02017\NEL-906\NEL-906[22-13-20]_[001...,0,72085.8785,26,255.0,64.87
92,20160715222332,20160715DC02017,7721,912,0,0,NaN,1079.44,42.25,0.300,0.660,20160715DC02017\NEL-912\NEL-912[22-23-32]_[007...,0,362520.8091,174,255.0,61.00
128,20160715221933,20160715DC02017,4684,916,0,0,2305.0,1475.28,NaN,0.225,0.220,20160715DC02017\NEL-916\NEL-916[22-19-33]_[004...,0,219937.0364,27,255.0,59.00
143,20160715223119,20160715DC02017,12797,918,0,0,2305.0,1658.08,10.20,0.225,0.293,20160715DC02017\NEL-918\NEL-918[22-31-19]_[012...,0,600792.2387,59,NaN,61.00
173,20160715224043,20160715DC02017,18082,921,0,0,2305.0,1987.48,3.08,0.150,0.293,20160715DC02017\NEL-921\NEL-921[22-40-43]_[018...,0,848900.5422,32,NaN,61.00
227,20160715224020,20160715DC02017,18347,922,0,0,4236.0,2046.27,41.59,0.150,0.587,20160715DC02017\NEL-922\NEL-922[22-40-20]_[018...,0,861380.0337,23,NaN,63.00
242,20160715224038,20160715DC02017,18540,922,0,0,4236.0,NaN,12.25,0.225,0.367,20160715DC02017\NEL-922\NEL-922[22-40-38]_[018...,0,870411.4840,60,255.0,62.00
268,20160715224105,20160715DC02017,18823,922,0,0,NaN,2047.10,12.62,0.150,0.293,20160715DC02017\NEL-922\NEL-922[22-41-05]_[018...,0,883697.8833,36,255.0,63.00
293,20160715224113,20160715DC02017,18907,922,0,0,2307.0,2070.38,NaN,28.000,28.000,20160715DC02017\NEL-922\NEL-922[22-41-13]_[018...,0,887650.4597,28,255.0,62.00
322,20160715224123,20160715DC02017,19012,922,0,0,2305.0,2069.63,34.77,NaN,0.293,20160715DC02017\NEL-922\NEL-922[22-41-23]_[019...,0,892593.0352,30,255.0,62.00
349,20160715224128,20160715DC02017,19065,922,0,0,72752.0,2067.15,44.60,-1046.000,-1046.000,20160715DC02017\NEL-922\NEL-922[22-41-28]_[019...,0,895091.0615,-1046,NaN,62.00
379,20160715224130,20160715DC02017,19085,922,0,0,4410.0,2067.53,0.88,NaN,0.367,20160715DC02017\NEL-922\NEL-922[22-41-30]_[019...,0,895986.2835,81,255.0,62.00
404,20160715224132,20160715DC02017,19102,922,0,1,NaN,2070.68,13.06,0.150,0.293,20160715DC02017\NEL-922\NEL-922[22-41-32]_[019...,0,896796.5642,50,255.0,63.00
429,20160715224133,20160715DC02017,19120,922,0,3,2307.0,2066.32,NaN,54.000,54.000,20160715DC02017\NEL-922\NEL-922[22-41-33]_[019...,0,897666.9920,54,255.0,62.00
453,20160715224135,20160715DC02017,19135,922,0,0,4216.0,2068.05,39.98,0.150,0.293,20160715DC02017\NEL-922\NEL-922[22-41-35]_[019...,0,898372.7385,37,NaN,63.00
481,20160715224136,20160715DC02017,19150,922,0,2,NaN,2082.32,40.57,0.150,0.293,20160715DC02017\NEL-922\NEL-922[22-41-36]_[019...,0,899077.5350,32,255.0,63.00
503,20160715224138,20160715DC02017,19166,922,0,0,72752.0,2067.15,37.56,-1056.000,-1056.000,20160715DC02017\NEL-922\NEL-922[22-41-38]_[019...,0,899825.6786,-1056,NaN,62.00
528,20160715224139,20160715DC02017,19176,922,0,1,2307.0,2068.43,NaN,78.000,78.000,20160715DC02017\NEL-922\NEL-922[22-41-39]_[019...,0,900264.7096,78,255.0,62.00
558,20160715224140,20160715DC02017,19190,922,0,1,4216.0,2070.30,13.20,NaN,0.293,20160715DC02017\NEL-922\NEL-922[22-41-40]_[019...,0,900928.0490,53,255.0,63.00
590,20160715224141,20160715DC02017,19203,922,0,2,2305.0,2068.58,44.75,0.225,0.734,20160715DC02017\NEL-922\NEL-922[22-41-41]_[019...,0,901569.9113,86,NaN,62.00
628,20160715224142,20160715DC02017,19217,922,0,0,NaN,2108.08,39.02,0.225,0.293,20160715DC02017\NEL-922\NEL-922[22-41-42]_[019...,0,902221.4407,41,255.0,62.00
666,20160715224144,20160715DC02017,19234,922,0,1,2305.0,2107.93,35.43,NaN,0.293,20160715DC02017\NEL-922\NEL-922[22-41-44]_[019...,0,903015.9514,48,255.0,62.00
709,20160715224146,20160715DC02017,19251,922,0,0,2307.0,2068.35,9.17,36.000,36.000,20160715DC02017\NEL-922\NEL-922[22-41-46]_[019...,0,903787.7921,36,NaN,62.00
738,20160715224147,20160715DC02017,19265,922,0,0,7410.0,2109.06,5.87,NaN,106.000,20160715DC02017\NEL-922\NEL-922[22-41-47]_[019...,0,904441.7515,106,255.0,62.00
769,20160715224148,20160715DC02017,19280,922,0,0,NaN,2108.31,9.39,42.000,42.000,20160715DC02017\NEL-922\NEL-922[22-41-48]_[019...,0,905149.4780,42,255.0,63.00
823,20160715224204,20160715DC02017,18988,923,0,0,2305.0,2151.53,29.56,0.225,0.293,20160715DC02017\NEL-923\NEL-923[22-42-04]_[018...,0,891461.0948,48,NaN,62.00
849,20160715215440,20160715DC02017,265,401,0,0,1025.0,49.96,53.06,NaN,2.000,20160715DC02017\NEL-401\NEL-401[21-54-40]_[000...,0,28174.8600,0,-7.0,86.00
890,20160715223717,20160715DC02017,6831,409,0,0,1025.0,1582.85,103.32,NaN,0.415,20160715DC02017\NEL-409\NEL-409[22-37-17]_[006...,0,725009.0400,0,-47.0,86.00

In [45]:
prod_info.groupby(['생산공정','Lot'])['생산량'].sum()

생산공정  Lot
라미    20170512CL01001    256
      20170512CL01002    873
      20170512CL01003    217
연신    20170512CE01001    830
      20170512CE01002    215
      20170512CE01003    989
코팅    20170512CC02001    398
      20170512CC02002    291
      20170512CC02003    870
Name: 생산량, dtype: int64

In [15]:
data_1 = pd.DataFrame(data = [1,2])
data_2 = pd.DataFrame(data = [2,3])
data_merge_0 = pd.concat([data_1, data_2], axis = 0)  #
data_merge_1 = pd.concat([data_1, data_2], axis = 1)

In [26]:
data.dropna()

   0  0
1  2  3

In [34]:
data_1.iloc[1:].apply(lambda x: x+1)

   0
1  3

In [39]:
data = pd.DataFrame([None, 0, 1])

In [41]:
data.dropna()

     0
1  0.0
2  1.0