# Day 5 - 7
***
###  학습 목표 

#### 1) Pandas package 학습 
  - Pandas 데이터 구조      
    1. DataFrame
    2. Series
  
  
  - Pandas 데이터 불러오기
    1. read_csv
    2. read_excel
    3. read_sql_query
  
  
  - Pandas 데이터 내용 확인
    1. head
    2. describe
    3. iloc 
    
    
  - Pandas 데이터 가공
    1. groupby
    2. apply
    3. merge
    4. concat  
    5. cut
    6. drop
    7. dropna 
    8. fillna 
    9. mean/std/min/max/corr 
    
    
  - Pandas 데이터 내보내기
    1. to_excel
      
      
  - Pandas 문자 다루기(정규식)
    1. str.contains
    2. str.extract
    3. str.split
      
(Pandas API documentation : http://pandas.pydata.org/pandas-docs/stable/index.html)

***
### Pandas 학습

- **Pandas 데이터 구조**

    1. DataFrame : 행, 열으로 이루어진 excel 데이터 형식이라고 생각하시면 됩니다.
    ```python
    import pandas as pd
    data_frame = pd.DataFrame(data = [[1,2], [2,3]], columns = ['A','B'], index = ['a','b'])
    ```
    2. Series : 행 또는 열로 이루어진 데이터 형식으로 series가 모여서 dataframe이 됩니다.
    ```python
    import pandas as pd
    data_series = pd.Series(data = [1,2], name = 'a')
    ```

- **Pandas 데이터 불러오기**
    
    1. read_csv : txt, csv, xls 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python 
    names = ['날짜','Lot','Frame수'...]                    # Column명을 names이라는 변수에 저장한다.
    data = pd.read_csv('20160715DC02017.txt', sep = '\t',names = names)  # read_csv 함수를 이용해 20160715DC02017.txt 파일을 읽어 data 변수에 저장한다.  
    ```
    2. read_excel : xlsx 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python
    names = ['날짜','Lot','Frame수'...]                                 # Column명을 names이라는 변수에 저장한다.
    data = pd.read_excel('20160715DC02017.xlsx', sheetname = 'Sheet1')  # read_excel 함수를 이용해 20160715DC02017.xlsx 파일을 읽어 data 변수에 저장한다.
    ```
    3. read_sql_query : 데이터베이스에서 Query문을 통해 데이터를 가져올 때 사용하는 함수입니다.
    ```python
    # db1 데이터베이스에서 Lot가 20160715DC02017인 정보를 모두 가져와서 data라는 변수에 저장한다. 
    data = pd.read_sql_query("SELECT * FROM tb_iem120 WHERE unique_lot_no = '20160715DC02017'", db1)
    ```

- **Pandas 데이터 내용 확인**
    1. head : 데이터 가장 상단의 몇 줄만 확인할 때 사용합니다. (주로 데이터가 잘 불러졌는 지 확인할 때 사용.) 
    ```python
    data.head(5)     # data row 5개 줄을 확인합니다. 
    ```
    
    2. describe : 데이터의 기본적인 통계 수치를 확인할 때 사용합니다. (max, min, mean, std 등)
    
    ```python
    data.describe()  
    ```
    
    3. iloc : 데이터의 행, 열을 지정하여 불러오거나 특정 범위만큼 선택할 때 사용합니다.
    
    ```python
    data.iloc[1,1]   # data의 2행 2열의 값을 확인합니다. 
    data.iloc[1:, 1] # data의 2~행 2열의 값을 확인합니다.
    ```
    
    4. columns, index : column과 index로 지정된 값을 확인합니다.
    ```python
    data.columns  # data의 column을 확인합니다.
    data.index    # data의 index를 확인합니다. 
    ```

- **Pandas 데이터 선택**

    1. 기본 내용 :     
    
        - 기본적으로 행/열 선택 시 [ ] (**Series**), [[ ]] (**DataFrame**) 방식으로 선택할 수 있습니다. 물론 Series는 1개 행/열만 해당합니다.  
    
        - 1개 행/열 선택 시에는 data[행이름/열이름] (**Series**) 혹은 data[[행이름/열이름]] (**DataFrame**) 형식으로 선택할 수 있습니다.  
    
        - 다수 행/열 선택 시에는 data[['열이름1, 열이름2, ...']] 의 형식으로 선택할 수 있습니다. (**DataFrame**)
    
        - 특정 조건을 가진 데이터를 선택하실 때는 원하는 열에 조건을 걸어 boolean으로 만들어 준 후 data내에서 True값만 반환합니다. 
        ```python
        data[data['col1'] > 5] # col1 열 값 중 5보다 큰 값의 index에 해당되는 data를 가져옵니다. 
        data[(data['col1'] > 5) & (data['col1'] < 10)]  # col1 열 값 중 5보다 크고 10보다 작은 값의 index에 해당되는 data를 가져옵니다.
        ```            
        
    2. 행 선택 : 아래와 같은 방법으로 행을 선택해서 가져올 수 있습니다.(DataFrame, Series 둘 중에 아무거나 쓰셔도 됩니다.)
    ```python
    data['col1']           # col1 열만 가져옵니다. 
    data[data['col1'] >5]  # col1 열 값 중 5보다 큰 값의 index에 해당되는 data를 가져옵니다. 
    ```
    
    3. 열 선택 : 아래와 같은 방법으로 열을 선택해서 가져올 수 있습니다.(자주 안 씁니다. 주로 iloc만 아시면 되요)
    ```python
    data.iloc[0]           # 0번째 index의 값을 가져옵니다. 
    data.loc[0]            # 0이라는 index의 값을 가져옵니다.
    data.T[0]              # 0이라는 index의 값을 가져옵니다.
    ```
    
    4. 행/열 변환 : 행, 열의 배열을 뒤집어서 나타내줍니다. (엑셀에 붙여넣기에 존재하는 기능이죠.) 
    ```python
    data.T                 # data의 행, 열의 배열을 뒤집어서 나타내줍니다. 
    ```

- **Pandas 데이터 가공**
    
    1. drop : 데이터를 삭제합니다. 삭제하는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향)
    ```python
    data.drop('col1', axis = 1, inplace = True)         # data의 col1 열을 1(행 방향으로) 삭제하고 변수에 저장합니다.  
    data = data.drop('col1', axis = 1, inplace = False) # 위와 같은 내용입니다.
    ```
    2. dropna : na값의 데이터를 삭제합니다. na에는 NaN, None 등의 값(데이터 없음)들이 포함됩니다. 
    ```python
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.dropna()   # 설정을 default 값으로 한 후에 실행합니다. 
    data.dropna(axis = 0, how = 'any', subset = ['num1'])  # 행 방향으로, num1행에 대해서 모든(any)na에 대해 drop합니다. 
    ```  
    3. fillna : na값의 데이터를 원하는 값으로 채워줍니다. 
    ```python 
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.fillna(0, inplace = True)  # na값을 0이라는 숫자로 채우고 적용하고 변수에 저장합니다.  
    data = data.fillna(0)           # 위와 같은 내용입니다. 
    ```
    
    4. cut : Series의 숫자 data를 원하는 범위만큼 잘라서 구분해줍니다. 그리고 해당 범위에 label을 붙여줍니다. 
    ```python
    data = pd.DataFrame(data = [i for i in range(0,20)], columns = ['num1'])
    # 값을 0, 5, 10, 20 으로 구분하고 그룹화합니다. 그리고 그룹에 순서대로 매칭되는 label을 붙여줍니다.  
    pd.cut(data['num1'], bins = [0, 5, 10, 20], labels = ['0~5','5~10','10~20'], include_lowest = True)
    ```
    
    5. mean/std/min/max/corr : 주요 기초 통계 값들을 불러올 때 사용합니다. DataFrame, Series 모두에 사용해도 무방하며 숫자로 이루어진 행만 출력될 것입니다. 
    ```python
    data = pd.DataFrame(data = [['a',1, 3],['b',2, 4],['c',3, 6]], columns = ['alp','num1','num2'])
    data.mean()  # 평균 값을 가져옵니다.
    data.std()   # 표준편차 값을 가져옵니다.
    data.min()   # 최대값을 가져옵니다.
    data.max()   # 최소값을 가져옵니다.
    data.corr()  # 상관관계 나타냅니다. 
    ```
   
    6. apply : 한 행 또는 열에 대해서 함수를 적용시켜 값을 변환합니다. lambda와 함께 사용 시 제어문, 함수를 동시에 사용하여 apply 내에 복잡한 값 변환을 할 수 있습니다. Series 형태의 데이터만 apply가 적용 가능합니다.
    ```python
    data['col1'].apply(lambda x: x+1)  # col1 행에 대해 함수를 적용해서 내용을 바꿔줍니다.(x → x+1)
    ```
    
    7. groupby : 엑셀의 pivot의 행 레이블에 들어가는 값이 groupby 내에 들어가고 값 레이블에 들어가는 값이 이후 [[ ]] (dataframe) 안에 들어가게 됩니다. 그 다음에 행하려는 함수를 입력해줍니다.
    ```python
    data.groupby(['col1','col2'])[['col3', 'col4']].sum()  # data를 col1, col2로 묶고 col3, col4에 대해 sum()함수를 적용합니다.
    ```
        
    8. merge : 하나 이상의 공통된 열을 가진 다른 데이터를 공통된 열을 기준으로 매칭시켜줍니다. 매칭하는 방법에 따라 inner, outer, left, right 로 나뉩니다.
    ```python
    # data_1, data2 데이터를 col1이라는 공통열에 대해 outer 방법으로 merge 합니다.
    pd.merge(data_1, data_2, on = ['col1'], how = 'outer')
    ```
    
    9. concat : DataFrame 또는 Series를 합칠 때 사용합니다. 합치는 방향에 따라 다르게 적용할 수 있습니다. (행, 열 방향) 
    ```python
    data_1 = pd.DataFrame(data = [1,2])
    data_2 = pd_DataFrame(data = [2,3])
    data_concat_0 = pd.concat([data_1, data_2], axis = 0)  # 아래로 쌓습니다.(행 개수 증가.)
    data_concat_1 = pd.concat([data_1, data_2], axis = 1)  # 옆으로 쌓습니다.(열 개수 증가.)
    ```
    10. melt : DataFrame 내 특정 열(id)의 다른 열들의 값(variable)을 하나의 열로 합치고, 변수와 값의 이름을 붙여줍니다.  
    ```python
    # data 데이터의 col1을 id로 갖고 col2, col3을 value로 갖습니다.
    # value의 열 값을 한 군데 id에 맞게 합치고, 합친 변수(var) 이름을 'VARIABLE', 
    # 합친 값(value) 이름을 'VALUE'라고 합니다.
    pd.melt(data, id_vars = ['col1'], value_vars = ['col2','col3'], 
    var_name = ['VARIABLE'], value_name = ['VALUE'])
    ```

- **Pandas 데이터 내보내기**
    1. to_excel : DataFrame을 excel 파일로 내보냅니다. 
    ```python
    data.to_excel('output.xlsx', index = False)                 # data를 output.xlsx 파일로 index로 포함하지 않고 내보냅니다. 
    
    writer = pd.ExcelWriter('output.xlsx')                      # output.xlsx를 만들고 writer라는 변수에 넣습니다. 
    data.to_excel(writer, sheet_name = 'Sheet1', index = False) # data를 writer(output.xlsx)로 내보내고 sheet_name 은 Sheet1, index는 포함하지 않습니다. 
    data2.to_excel(wrtier, sheet_name = 'Sheet2', index = False)
    ```

- **Pandas 정규식으로 문자 다루기**
    1. str.contains : Series의 문자열에서 특정 문자에 대한 포함 유무를 boolean으로 반환합니다. . 
    ```python
    data = pd.DataFrame(['A', 'B', 'C', 'Aaba', 'Baca', 'CABA', 'dog', 'cat'], columns = ['col1'])
    data['col1'].str.contains('A')  # col1 열의 값에 대해 A의 문자의 유무를 boolean 값으로 반환합니다.(True/False)
    ```
    
    2. str.extract : Series의 문자열에서 특정 문자를 포함하는 값을 추출해서 반환합니다. 
    ```python
    data = pd.DataFrame(['A', 'B', 'C', 'Aaba', 'Baca', 'CABA', 'dog', 'cat'], columns = ['col1'])
    data['col1'].str.extract('(A)')  # col1 열의 값에 대해 A 문자를 포함할 경우 해당 값만 불러옵니다.(True/False)
    ```
    3. str.split : Series의 문자열에서 특정 문자를 찾아 앞, 뒤로 나눕니다.
    ```python
    data = pd.DataFrame(['a_b_c', 'c_d_e', 'f_g_h'], columns = ['col1']) 
    data['col1'].str.split('_')  # col1 열의 값에 대해 '_'를 찾아서 앞, 뒤로 나누어 줍니다. (반환 형식 : list) 
    data['col1'].str.split('_')[0]  # split으로 나눈 문자 중 1번째 해당하는 값만 불러옴.
    data['col1'].apply(lambda x: x.split('_')[0]) # 위와 같은 표현입니다. 
    ```
    4. str.strip : Series의 문자열에서 문자열 외부 공백을 없애줍니다. 
    ```python
    data = pd.DataFrame(['  abc', 'cd e ', ' fg h'], columns = ['col1']) 
    data['col1'].str.strip() # col1 열의 값에 대해 앞 뒤 공백을 찾아서 제거해줍니다. 
    data['col1'].apply(lambda x: x.strip()) # 위와 같은 표현입니다.
    ```

- **번외** (정규식 기본 문법)

    정규식을 사용해서 원하는 문자열을 추출하거나 필터하기 위해선 정규식 문법을 아셔야 합니다. (str.extract, str.contains에 쓰임.)
    
    아래에 가장 기본적인 문법만 소개해드립니다. 복잡한 표현은 연습해보시면서 익혀주세요. 
    
    ※ 내용 더 알고 싶으신 분들은 해당 링크 참조하세요 (https://wikidocs.net/4308)



|구분|정규식 기호| 의미                  | 예제  |대상 값 : abcc123  ABC   |
|:---:| :---:|:---| :-- |
|특정 문자|아무 입력 값| 입력한 값   | 정규식 : 'abc' |   매칭 값 : 'abc'
|특정 문자|[ ] | [ ]에 속한 범위 내 문자 중 1개|  정규식 : '[abc]' | 매칭 값 : 'a','b','c','c'
|문자 그룹| .  | 모든 문자             | 정규식 : '.' | 매칭 값 : 'a','b','c','c','1','2','3','' ','A','B','C'
|문자 그룹| \d | 숫자| 정규식 : '\d'| 매칭 값 : '1','2','3'
|문자 그룹| \D | 숫자 아닌 것들 | 정규식 : '\D' | 매칭 값 : 'a','b','c','c',' ','A','B','C
|문자 그룹| \s | whitespace(\t, \n, \t 등| 정규식 : '\s' | 매칭 값 : ' '
|문자 그룹| \S | whitespace 아닌 것들| 정규식 : '\S' | 매칭 값 : 'a','b','c','c','1','2','3','A','B','C'
|반복| +  | 반복 (최소 1번 이상)  | 정규식 : 'c+' | 매칭 값 : 'cc'
|반복| *  | 반복 (0번 ~ 무한대)   | 정규식 : '\d*' | 매칭 값 : '','','','','123','','','','','' 
|반복|{m, n} | 반복 (m 이상 n 이하)| 정규식 : '\d{1,3}' | 매칭 값 : '123'
|반복| ? | 있거나 없거나 (0, 1) | 정규식 : 'a?bc+' | 매칭 값 : 'abcc'