In [ ]:
import pyodbc
import pandas as pd
import query_state as qs
import aoi
db1 = pyodbc.connect(
    r'DRIVER={SQL Server};'
    r'SERVER=165.244.114.87;'
    r'DATABASE=LGCOPTMP;'
    r'UID=sa;'
    r'PWD=@admin123'
    )

db3 = pyodbc.connect(
    r'DRIVER={Oracle in OraClient11g_home1};'
    r'DBQ=iegosp;'
    r'UID=iegos_view;'
    r'PWD=viewdb7388;'               
    )

db2 = pyodbc.connect(
    r'DRIVER={Oracle in OraClient11g_home1};'
    r'DBQ=iepcs;'
    r'UID=iepcs_view;'
    r'PWD=viewdb7388;'   
    )

In [ ]:
lot = '20170601CC01001'

In [ ]:
qs.find_das(lot)

In [ ]:
lot = '20170601CC01001'
data = pd.read_sql_query(qs.find_das(lot), db1)

In [ ]:
data = data.rename(columns = {'REMARK':'광학계','UNIQUE_LOT_NO':'lot','CAMERA_NO':'카메라 번호','MAX_SIZE':'size(max)',
                                  'MIN_SIZE':'size(min)','V_VLAUE':'value','DEFECT_TYPE_CODE':'불량번호','FAULT_XPOS':'x',
                                  'FAULT_YPOS':'y','DEFECT_MARK_NAME':'불량명'})

In [ ]:
data['size'] = (data['size(max)'] + data['size(min)'])/2
data['y'] /= 1000

In [ ]:
data.drop(['size(max)','size(min)'], axis = 1, inplace = True)

In [ ]:
rotate = True
if rotate:
    after_coating_info = pd.read_sql_query(qs.after_coating(lot), db3)

In [ ]:
if len(after_coating_info)%2 != 0:            
    width, length = aoi.read_lot_info(lot)
    data['x'] = width - data['x']
    data['y'] = length - data['y']

In [ ]:
width = pd.read_sql_query(qs.find_width(lot), db2).iloc[0][0][:2]

In [ ]:
pd.read_sql_query(qs.find_width(lot), db2)

In [ ]:
pd.read_sql_query(qs.find_width('20170517DD03047'), db2).iloc[0].str.extract('[(](\d*)[)]')[0]