# Day 5
***
###  학습 목표 

#### 1) Pandas package 학습 
  - Pandas 데이터 구조      
    1. DataFrame
    2. Series
  
  
  - Pandas 데이터 불러오기
    1. read_csv
    2. read_excel
    3. read_sql_query
  
  
  - Pandas 데이터 내용 확인
    1. head
    2. describe
    3. iloc 
    
    
  - Pandas 데이터 가공
    1. groupby
    2. apply
    3. merge
    4. concat  
    5. cut
    6. drop
    7. dropna 
    8. fillna 
    9. mean/std/min/max/corr 
    
    
  - Pandas 데이터 내보내기
    1. to_excel
      
      
(Pandas API documentation : http://pandas.pydata.org/pandas-docs/stable/index.html)

***
### Pandas 학습

- Pandas 데이터 구조 

    1. DataFrame : 행, 열으로 이루어진 excel 데이터 형식이라고 생각하시면 됩니다.
    ```python
    import pandas as pd
    data_frame = pd.DataFrame(data = [[1,2], [2,3]], columns = ['A','B'], index = ['a','b'])
    ```
    2. Series : 행 또는 열로 이루어진 데이터 형식으로 series가 모여서 dataframe이 됩니다.
    ```python
    import pandas as pd
    data_series = pd.Series(data = [1,2], name = 'a')
    ```

In [12]:
# 예제1) Dataframe를 생성해봅시다.

#1. pandas를 import합니다.

#2. 3*2(row*column) 형태의 dataframe 을 만들겠습니다.

#3. column명은 grade, qty로 명명해주고 index는 따로 추가하지 않습니다. 내용은 각자 채워주세요

- Pandas 데이터 불러오기
    
    1. read_csv : txt, csv, xls 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python 
    names = ['날짜','Lot','Frame수'...]                    # Column명을 names이라는 변수에 저장한다.
    data = pd.read_csv('20160715DC02017.txt', sep = '\t')  # read_csv 함수를 이용해 20160715DC02017.txt 파일을 읽어 data 변수에 저장한다.  
    ```
    2. read_excel : xlsx 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python
    names = ['날짜','Lot','Frame수'...]                                 # Column명을 names이라는 변수에 저장한다.
    data = pd.read_excel('20160715DC02017.xlsx', sheetname = 'Sheet1')  # read_excel 함수를 이용해 20160715DC02017.xlsx 파일을 읽어 data 변수에 저장한다.
    ```
    3. read_sql_query : 데이터베이스에서 Query문을 통해 데이터를 가져올 때 사용하는 함수입니다.
    ```python
    # db1 데이터베이스에서 Lot가 20160715DC02017인 정보를 모두 가져와서 data라는 변수에 저장한다. 
    data = pd.read_sql_query("SELECT * FROM tb_iem120 WHERE unique_lot_no = '20160715DC02017'", db1)
    ```

In [ ]:
# 예제2) 자동검사기 파일을 불러옵니다.

names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형(10진수)','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

#0. 현재 작업 폴더를 확인하고 optical_python 내 dataset이라는 폴더를 작업 폴더로 만들어주세요. 

#1. dataset라는 폴더 내에 20160715DC02017.txt 파일을 read_csv 함수를 이용해서 불러와보세요. (변수 : data)

#2. dataset라는 폴더 내에 20160715DC02017.xlsx 파일을 read_excel 함수를 이용해서 불러와보세요. (변수 : data_2)

In [6]:
import pandas as pd

In [7]:
names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형(10진수)','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

data = pd.read_csv('20160715DC02017.txt', sep = '\t', names = names)

In [26]:
data_1 = pd.read_excel('20160715DC02017.xlsx', header = None, names = names)

- Pandas 데이터 내용 확인
    1. head : 데이터 가장 상단의 몇 줄만 확인할 때 사용합니다. (주로 데이터가 잘 불러졌는 지 확인할 때 사용.) 
    ```python
    data.head(5)     # data row 5개 줄을 확인합니다. 
    ```
    
    2. describe : 데이터의 기본적인 통계 수치를 확인할 때 사용합니다. (max, min, mean, std 등)
    
    ```python
    data.describe()  
    ```
    
    3. iloc : 데이터의 행, 열을 지정하여 불러오거나 특정 범위만큼 선택할 때 사용합니다.
    
    ```python
    data.iloc[1,1]   # data의 1열 1행의 값을 확인합니다. 
    data.iloc[1:, 1] # data의 1~열 1행의 값을 확인합니다.
    ```
    
    4. columns, index : column과 index로 지정된 값을 확인합니다.
    ```python
    data.columns  # data의 column을 확인합니다.
    data.index    # data의 index를 확인합니다. 
    ```

In [17]:
# 예제3) 위에서 불러온 data라는 변수의 기본적인 내용 확인 과정입니다.

#1. data의 상단 10줄을 head라는 함수를 사용해서 출력해보세요 

#2. data의 기본 통계 수치를 describe 함수를 사용해서 출력해보세요 

#3. data의 전체 열, 3~행을 iloc을 사용해서 출력해보세요. 

#4. data의 1열 1행의 값에 숫자 3을 대입해보세요. 값이 바뀌나요?

- Pandas 데이터 가공
    
    1. drop : 데이터를 삭제합니다. 삭제하는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향)
    ```python
    data.drop('col1', axis = 1, inplace = True)         # data의 col1행을 1(행 방향으로) 삭제해줍니다. 
    data = data.drop('col1', axis = 1, inplace = False) # 위와 같은 내용입니다.
    ```
    2. dropna : na값의 데이터를 삭제합니다. na에는 NaN, None 등의 값(데이터 없음)들이 포함됩니다. 
    ```python
    data = pd.DataFrame(data = [None, 1, 2, 0], columns = ['num']) 
    data.dropna(
      
    3. fillna : 
            
    4. cut
        
    5. mean/std/min/max/corr 
    
    6. apply : 한 행 또는 열에 대해서 함수를 적용시켜 값을 변환합니다. lambda와 함께 사용 시 제어문, 함수를 동시에 사용하여 apply 내에 복잡한 값 변환을 할 수 있습니다. Series 형태의 데이터만 apply가 적용 가능합니다.
    ```python
    data['col1'].apply(lambda x: x+1)  # col1 행에 대해 함수를 적용해서 내용을 바꿔줍니다.(x → x+1)
    ```
    
    8. concat : DataFrame 또는 Series를 합칠 때 사용합니다. 합치는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향) 
    ```python
    data_1 = pd.DataFrame(data = [1,2])
    data_2 = pd_DataFrame(data = [2,3])
    data_concat_0 = pd.merge([data_1, data_2], axis = 0)  # 아래로 쌓습니다.(열 개수 증가.)
    data_concat_1 = pd.merge([data_1, data_2], axis = 1)  # 옆으로 쌓습니다.(행 개수 증가.)
    ```
    
    9. merge
    ```python
    pd.merge(
    ```
    
    10. groupby : 엑셀의 pivot의 행 레이블에 들어가는 값이 groupby 내에 들어가고 값 레이블에 들어가는 값이 이후 [[]] (dataframe) 안에 들어가게 됩니다. 그 다음에 행하려는 함수를 입력해줍니다.
    ```python
    data.groupby(['col1','col2'])[['col3', 'col4']].sum()  # data를 col1, col2로 묶고 col3, col4에 대해 sum()함수를 적용합니다.
    ```

In [42]:
data = pd.DataFrame(data = [None, 1, 2, 0], columns = ['num'])

In [44]:
data.dropna()

   num
1  1.0
2  2.0
3  0.0

In [45]:
prod_info.groupby(['생산공정','Lot'])['생산량'].sum()

생산공정  Lot
라미    20170512CL01001    256
      20170512CL01002    873
      20170512CL01003    217
연신    20170512CE01001    830
      20170512CE01002    215
      20170512CE01003    989
코팅    20170512CC02001    398
      20170512CC02002    291
      20170512CC02003    870
Name: 생산량, dtype: int64

In [15]:
data_1 = pd.DataFrame(data = [1,2])
data_2 = pd.DataFrame(data = [2,3])
data_merge_0 = pd.concat([data_1, data_2], axis = 0)  #
data_merge_1 = pd.concat([data_1, data_2], axis = 1)

In [26]:
data.dropna()

   0  0
1  2  3

In [34]:
data_1.iloc[1:].apply(lambda x: x+1)

   0
1  3

In [39]:
data = pd.DataFrame([None, 0, 1])

In [41]:
data.dropna()

     0
1  0.0
2  1.0