# Day 5 - 7
***
###  학습 목표 

#### 1) Pandas package 학습 
  - Pandas 데이터 구조      
    1. DataFrame
    2. Series
  
  
  - Pandas 데이터 불러오기
    1. read_csv
    2. read_excel
    3. read_sql_query
  
  
  - Pandas 데이터 내용 확인
    1. head
    2. describe
    3. iloc 
    
    
  - Pandas 데이터 가공
    1. groupby
    2. apply
    3. merge
    4. concat  
    5. cut
    6. drop
    7. dropna 
    8. fillna 
    9. mean/std/min/max/corr 
    
    
  - Pandas 데이터 내보내기
    1. to_excel
      
      
(Pandas API documentation : http://pandas.pydata.org/pandas-docs/stable/index.html)

***
### Pandas 학습

- **Pandas 데이터 구조**

    1. DataFrame : 행, 열으로 이루어진 excel 데이터 형식이라고 생각하시면 됩니다.
    ```python
    import pandas as pd
    data_frame = pd.DataFrame(data = [[1,2], [2,3]], columns = ['A','B'], index = ['a','b'])
    ```
    2. Series : 행 또는 열로 이루어진 데이터 형식으로 series가 모여서 dataframe이 됩니다.
    ```python
    import pandas as pd
    data_series = pd.Series(data = [1,2], name = 'a')
    ```

In [ ]:
# 예제1) Dataframe를 생성해봅시다.

#1. pandas를 import합니다.

#2. 3*2(row*column) 형태의 dataframe 을 만들겠습니다.

#3. column명은 grade, qty로 명명해주고 index는 따로 추가하지 않습니다. 내용은 각자 채워주세요

- **Pandas 데이터 불러오기**
    
    1. read_csv : txt, csv, xls 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python 
    names = ['날짜','Lot','Frame수'...]                    # Column명을 names이라는 변수에 저장한다.
    data = pd.read_csv('20160715DC02017.txt', sep = '\t',names = names)  # read_csv 함수를 이용해 20160715DC02017.txt 파일을 읽어 data 변수에 저장한다.  
    ```
    2. read_excel : xlsx 형식의 파일을 불러올 때 사용하는 함수입니다. 
    ```python
    names = ['날짜','Lot','Frame수'...]                                 # Column명을 names이라는 변수에 저장한다.
    data = pd.read_excel('20160715DC02017.xlsx', sheetname = 'Sheet1')  # read_excel 함수를 이용해 20160715DC02017.xlsx 파일을 읽어 data 변수에 저장한다.
    ```
    3. read_sql_query : 데이터베이스에서 Query문을 통해 데이터를 가져올 때 사용하는 함수입니다.
    ```python
    # db1 데이터베이스에서 Lot가 20160715DC02017인 정보를 모두 가져와서 data라는 변수에 저장한다. 
    data = pd.read_sql_query("SELECT * FROM tb_iem120 WHERE unique_lot_no = '20160715DC02017'", db1)
    ```

In [ ]:
import os
os.getcwd()
os.chdir('../dataset')

In [ ]:
# 예제2) 자동검사기 파일을 불러옵니다.

names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

#0. 현재 작업 폴더를 확인하고 optical_python 내 dataset이라는 폴더를 작업 폴더로 만들어주세요. 

#1. dataset라는 폴더 내에 20160715DC02017.txt 파일을 read_csv 함수를 이용해서 불러와보세요. (변수 : data_1)

#2. dataset라는 폴더 내에 20160715DC02017.xlsx 파일을 read_excel 함수를 이용해서 불러와보세요. (변수 : data)

import pandas as pd
data = pd.read_csv('20160715DC02017.txt', sep = '\t', names = names)

- **Pandas 데이터 내용 확인**
    1. head : 데이터 가장 상단의 몇 줄만 확인할 때 사용합니다. (주로 데이터가 잘 불러졌는 지 확인할 때 사용.) 
    ```python
    data.head(5)     # data row 5개 줄을 확인합니다. 
    ```
    
    2. describe : 데이터의 기본적인 통계 수치를 확인할 때 사용합니다. (max, min, mean, std 등)
    
    ```python
    data.describe()  
    ```
    
    3. iloc : 데이터의 행, 열을 지정하여 불러오거나 특정 범위만큼 선택할 때 사용합니다.
    
    ```python
    data.iloc[1,1]   # data의 2열 2행의 값을 확인합니다. 
    data.iloc[1:, 1] # data의 2~열 2행의 값을 확인합니다.
    ```
    
    4. columns, index : column과 index로 지정된 값을 확인합니다.
    ```python
    data.columns  # data의 column을 확인합니다.
    data.index    # data의 index를 확인합니다. 
    ```

In [ ]:
# 예제3) 위에서 불러온 data라는 변수의 기본적인 내용 확인 과정입니다.

#1. data의 상단 10줄을 head라는 함수를 사용해서 출력해보세요 

#2. data의 기본 통계 수치를 describe 함수를 사용해서 출력해보세요 

#3. data의 전체 열, 3~c행을 iloc을 사용해서 출력해보세요. 

#4. data의 1열 1행의 값에 숫자 3을 대입해보세요. 값이 바뀌나요?

- **Pandas 데이터 선택**

    1. 기본 내용 :     
    
        - 기본적으로 행/열 선택 시 [ ] (**Series**), [[ ]] (**DataFrame**) 방식으로 선택할 수 있습니다. 물론 Series는 1개 행/열만 해당합니다.  
    
        - 1개 행/열 선택 시에는 data[행이름/열이름] (**Series**) 혹은 data[[행이름/열이름]] (**DataFrame**) 형식으로 선택할 수 있습니다.  
    
        - 다수 행/열 선택 시에는 data[['행이름1, 행이름2, ...']] 의 형식으로 선택할 수 있습니다. (**DataFrame**)
    
        - 특정 조건을 가진 데이터를 선택하실 때는 원하는 행에 조건을 걸어 boolean으로 만들어 준 후 data내에서 True값만 반환합니다. 
        ```python
        data[data['col1'] > 5] # col1행 값 중 5보다 큰 값의 index에 해당되는 data를 가져옵니다. 
        data[(data['col1'] > 5) & (data['col1'] < 10)]  # col1행 값 중 5보다 크고 10보다 작은 값의 index에 해당되는 data를 가져옵니다.
        ```            
        
    2. 행 선택 : 아래와 같은 방법으로 행을 선택해서 가져올 수 있습니다.(DataFrame, Series 둘 중에 아무거나 쓰셔도 됩니다.)
    ```python
    data['col1']           # col1행만 가져옵니다. 
    data[data['col1'] >5]  # col1행 값 중 5보다 큰 값의 index에 해당되는 data를 가져옵니다. 
    ```
    
    3. 열 선택 : 아래와 같은 방법으로 열을 선택해서 가져올 수 있습니다.(자주 안 씁니다. 주로 iloc만 아시면 되요)
    ```python
    data.iloc[0]           # 0번째 index의 값을 가져옵니다. 
    data.loc[0]            # 0이라는 index의 값을 가져옵니다.
    data.T[0]              # 0이라는 index의 값을 가져옵니다.
    ```
    
    4. 행/열 변환 : 행, 열의 배열을 뒤집어서 나타내줍니다. (엑셀에 붙여넣기에 존재하는 기능이죠.) 
    ```python
    data.T                 # data의 행, 열의 배열을 뒤집어서 나타내줍니다. 
    ```

In [ ]:
# 예제4) 행, 열 선택을 통한 원하는 데이터만 가져오기

#1. 위에서 불러온 data 변수에서 '불량유형' 행만 선택해서 나타내봅니다.

#2. '불량유형' 행의 값이 2305인 조건을 걸어보고, data 내 해당 조건을 만족하는 값들만 나타내보고 변수 data_2305에 저장합니다. 
data_2305 = data[data['불량유형'] == 2305]

- **Pandas 데이터 가공**
    
    1. drop : 데이터를 삭제합니다. 삭제하는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향)
    ```python
    data.drop('col1', axis = 1, inplace = True)         # data의 col1행을 1(행 방향으로) 삭제하고 변수에 저장합니다.  
    data = data.drop('col1', axis = 1, inplace = False) # 위와 같은 내용입니다.
    ```
    2. dropna : na값의 데이터를 삭제합니다. na에는 NaN, None 등의 값(데이터 없음)들이 포함됩니다. 
    ```python
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.dropna()   # 설정을 default 값으로 한 후에 실행합니다. 
    data.dropna(axis = 0, how = 'any', subset = ['num1'])  # 열 방향으로, num1행에 대해서 모든(any)na에 대해 drop합니다. 
    ```  
    3. fillna : na값의 데이터를 원하는 값으로 채워줍니다. 
    ```python 
    data = pd.DataFrame(data = [[None, 1], [2, 0], [1, 2], [3, 4]], columns = ['num1','num2'])  # 2*4 형태의 data를 만듭니다. 
    data.fillna(0, inplace = True)  # na값을 0이라는 숫자로 채우고 적용하고 변수에 저장합니다.  
    data = data.fillna(0)           # 위와 같은 내용입니다. 
    ```
    
    4. cut : Series의 숫자 data를 원하는 범위만큼 잘라서 구분해줍니다. 그리고 해당 범위에 label을 붙여줍니다. 
    ```python
    data = pd.DataFrame(data = [i for i in range(0,20)], columns = ['num1'])
    # 값을 0, 5, 10, 20 으로 구분하고 그룹화합니다. 그리고 그룹에 순서대로 매칭되는 label을 붙여줍니다.  
    pd.cut(data['num1'], bins = [0, 5, 10, 20], labels = ['0~5','5~10','10~20'], include_lowest = True)
    ```
    
    5. mean/std/min/max/corr : 주요 기초 통계 값들을 불러올 때 사용합니다. DataFrame, Series 모두에 사용해도 무방하며 숫자로 이루어진 행만 출력될 것입니다. 
    ```python
    data = pd.DataFrame(data = [['a',1, 3],['b',2, 4],['c',3, 6]], columns = ['alp','num1','num2'])
    data.mean()  # 평균 값을 가져옵니다.
    data.std()   # 표준편차 값을 가져옵니다.
    data.min()   # 최대값을 가져옵니다.
    data.max()   # 최소값을 가져옵니다.
    data.corr()  # 상관관계 나타냅니다. 
    ```
   
    6. apply : 한 행 또는 열에 대해서 함수를 적용시켜 값을 변환합니다. lambda와 함께 사용 시 제어문, 함수를 동시에 사용하여 apply 내에 복잡한 값 변환을 할 수 있습니다. Series 형태의 데이터만 apply가 적용 가능합니다.
    ```python
    data['col1'].apply(lambda x: x+1)  # col1 행에 대해 함수를 적용해서 내용을 바꿔줍니다.(x → x+1)
    ```
    
    7. groupby : 엑셀의 pivot의 행 레이블에 들어가는 값이 groupby 내에 들어가고 값 레이블에 들어가는 값이 이후 [[ ]] (dataframe) 안에 들어가게 됩니다. 그 다음에 행하려는 함수를 입력해줍니다.
    ```python
    data.groupby(['col1','col2'])[['col3', 'col4']].sum()  # data를 col1, col2로 묶고 col3, col4에 대해 sum()함수를 적용합니다.
    ```
        
    8. merge : 하나 이상의 공통된 행을 가진 다른 데이터를 공통된 행을 기준으로 매칭시켜줍니다. 매칭하는 방법에 따라 inner, outer, left, right 로 나뉩니다.
    ```python
    # data_1, data2 데이터를 col1이라는 공통행에 대해 outer 방법으로 merge 합니다.
    pd.merge(data_1, data_2, on = ['col1'], how = 'outer')
    ```
    
    9. concat : DataFrame 또는 Series를 합칠 때 사용합니다. 합치는 방향에 따라 다르게 적용할 수 있습니다. (열, 행 방향) 
    ```python
    data_1 = pd.DataFrame(data = [1,2])
    data_2 = pd_DataFrame(data = [2,3])
    data_concat_0 = pd.merge([data_1, data_2], axis = 0)  # 아래로 쌓습니다.(열 개수 증가.)
    data_concat_1 = pd.merge([data_1, data_2], axis = 1)  # 옆으로 쌓습니다.(행 개수 증가.)
    ```
    10. melt : 
    ```python
    # data 데이터의 col1을 id로 갖고 col2, col3을 value로 갖습니다.
    # value의 행들을 한 군데 id에 맞게 합치고, 합친 변수(var) 이름을 'VARIABLE', 
    # 합친 값(value) 이름을 'VALUE'라고 합니다.
    pd.melt(data, id_vars = ['col1'], value_vars = ['col2','col3'], 
    var_name = ['VARIABLE'], value_name = ['VALUE'])
    ```

In [ ]:
names = ['날짜','Lot','Frame수', '카메라 번호', '사용안함', 'INDEX', '불량유형','X','y', 
         'X-Size','Y-Size', '불량이미지','사용안함','사용안함','Value','흑점','조명밝기']

# 예제5) 데이터 가공 (drop, dropna, fillna, mean/std/min/max/corr, cut)

#1. 위에서 불러온 검사기 data_2305에서 필요한 행만 남기고 지울 예정입니다. 
  # 행 이름(names)을 참고하셔서 '불량유형','X','y','X-Size','Y-Size','Value'를 제외한 행을 다 삭제하고 저장해주세요
    
#2. data_2305에 na값들을 넣어놨습니다. 아래 코드를 실행해서 값을 확인하고 다 지워보고(dropna) 원하시는 값으로 채워보세요 (fillna)

data_2305[data_2305.isnull().any(axis=1)] # null 값이 있는 열을 나타내줍니다. 

#3. data_2305의 mean/std/min/max/corr을 확인해보세요 

#4. data_2305의 'Value' 행을 값의 범위 별로 나눈 후에 새로운 'cut'이라는 행에 저장하겠습니다. 
  # max로 최대값을 확인하신 후에 0부터 최대값까지 원하시는 만큼 쪼개보세요. 매칭할 label은 '0~30', '30~60'와 같은 범위로 나타내주세요.
    

data_2305['Value'].mean()

In [ ]:
# 예제6) 데이터 가공(apply, groupby)

#1. data_2305의 '불량유형' 행에 apply를 사용해서 숫자 60000보다 큰 값은 '약' 으로, 작은 값은 '강' 값을 반환하여 '강/약' 행에 저장합니다. 

#2. data_2305에 groupby 함수를 사용합니다. group을 묶을 행은 ['강/약, 'cut']이고, 적용 대상 행은 아무거나 고른 후에 count 함수를 써보세요..

In [ ]:
# 에제7) 데이터 합치기(merge)

#1. day_5_예제.xlsx 파일의 Sheet2 에서 A,B행을 불러옵니다.(변수 : prod_1)

#2. day_5_예제.xlsx 파일의 Sheet2 에서 D,E행을 불러오고 6,7번 열을 불러오지 않습니다. (변수 : prod_2

#3. prod_1, prod_2를 '연신' 행에 대해서 merge합니다. (inner, outer, left, right) 

#4. 3의 결과를 보고 어떤 식으로 작동하는 지 확인합니다.

In [ ]:
# 예제8) 데이터 합치기(concat)

#1. data_5_예제.xlsx 파일의 Sheet3에서 A,B / D, E/ G, H/ J, K 행을 각각 불러옵니다. 
   # 변수 : coat_1, coat_2, coat_3, coat_4

#2. coat_1 과 coat_2를 concat을 사용해서 합쳐보세요. 어떤 방향으로 합치는게 보기 좋나요? 
    
#3. for 문을 이용해서 coat_1부터 4까지 합쳐줍니다. 
   # 데이터를 다른 변수(바구니)에 담아야 loop를 돌릴 수 있습니다. 
   # 그리고 concat을 해서 어디에 저장해야 될 지 생각해보세요

In [ ]:
# 예제9) 유용한 데이터 가공(melt) 

#1. data_5_예제.xlsx 파일의 Sheet4 데이터를 가져옵니다. (변수 : curl)

#2. melt를 사용해서 외부컬, 내부컬 행을 하나의 행으로 합쳐줍니다. 합쳤을 때 변수, 값의 행 이름은 각자 지정해주세요