# Day 3
***
###  학습 목표 

#### 1) 기초 문법 학습

  - 데이터 구조
      + 내장 : list, tuple, dictionary 등
      + 외장 : array, dataframe 등 
      
      
  - 내장 함수
      + lambda
      + apply
      + len
      + int/float
      + str
      + max
      + min 
      + range
      + type
      + enumerate
      + zip

***
### 기초 문법

- **데이터 구조** 
    1. 내장 : 파이썬은 list, tuple, dictionary 등의 데이터 구조를 갖습니다. 데이터를 담는 용기의 종류가 여러가지 있구나 라고 생각하세요.
        - list : [] 안에 데이터를 입력합니다. 변수를 선언한 후에 추가 데이터를 입력하실 경우 append함수를 사용해줍니다. 데이터 범위 설정의 경우 data[a:b]의 형식으로 선택합니다.
        ```python
        num = [1,2,3,4]
        num.append(5)
        num[1:4]
        ```
        - dict : {} 안에 데이터를 입력합니다. 안에 들어가는 데이터는 key, value의 쌍으로 이루어지며 key:value의 형태로 입력됩니다.
        추가 데이터를 입력하실 경우 update함수를 사용해줍니다. 데이터 범위 설정의 경우 data['key']의 형식으로 선택합니다. 
        ```python
        num = {'one' : 1, 'two' : 2, 'three' : 3}
        num.update({'four' : 4})
        num['one']
        ```
    2. 외장 : Package들 중에 필요성에 따라 데이터 구조를 추가적으로 지원하는 형식들이 있습니다. numpy의 array, pandas의 dataframe 이 대표적인 예입니다. (이 후 pandas 학습 시에 학습 예정입니다.)

In [18]:
# 예제1) list를 만들어봅시다.

#1. 3개의 grade를 가진 grades라는 이름의 list를 생성합니다. 

#2. grades(list)에 1개 grade를 추가합니다. 

#3. grades(list) 내의 값 중 1, 2번째 값만 print합니다.

In [19]:
# 예제 2) dict를 만들어봅시다.

#1. 3개의 grade(key)와 그에 해당되는 재고(value)를 가진 stock이라는 dict를 생성합니다.

#2. stock(dict)에 1개 grade, 그에 해당되는 재고를 추가합니다.

#3. stock(dict) 내의 값 중 원하는 grade의 재고를 print해봅니다.

- **내장 함수**

    1. lambda : 함수를 축약해서 사용 한다고 보면 됩니다. def ~ 를 입력하지 않아도 간편하게 함수 역할을 할 수 있습니다.
    ```python
    sum = lambda a, b : a + b   # sum을 a,b가 주어졌을 때 a+b를 return하는 함수라고 한다.
    sum(1,3)                    # sum에 1,3을 넣어준다. 
    ```        

    2. apply : 함수, 데이터를 받으며 데이터를 함수에 맞게 가공해서 새로운 데이터로 변환합니다. (예제는 이 후에)
    
    3. len : 데이터 구조 안에 있는 데이터의 수를 반환해줍니다. (단일 문자의 경우 단위 문자 개수를 반환합니다.)
```python 
alp = ['a','b','c']        
len(alp)                   # alp 데이터의 개수를 반환한다.
len(alp[0])                # alp[0] 데이터의 길이를 반환한다. 
```    

    4. int/float : 정수형/소수형으로 데이터를 변환합니다. 숫자 모양을 띈 문자('1', '2')도 해당 데이터 형태로 변환됩니다. 
    ```python
    one = '1'
    int(one)                   # one이라는 데이터의 type을 정수형으로 변환한다.
    float(one)                 # one이라는 데이터의 type을 소수형으로 변환한다. 
    ```

    5. str : 문자형으로 데이터를 변환합니다. 
    ```python
    one = 1           
    str(one)                   # one이라는 데이터의 type을 문자형으로 변환한다. 
    ``` 

    6. max/min : 데이터 내 최대/최소값을 반환합니다.
    ```python
    num = [1, 2, 3]
    max(num)                   # num의 최대값을 반환한다.
    min(num)                   # num의 최소값을 반환한다. 
    ```

    7. range : 숫자 a ~ b(설정 필요)까지의 범위의 데이터를 가집니다.
    ```python
    num = []
    for i in range(0,10):      # 0부터 9까지 값을 num에 추가한다.
            num.append(i)
    
    [i for i in range(0,10)]   # 위와 같은 내용 
    [i for i in range(10)]     # 위와 같은 내용 
    [i for i in range(0,10,2)] # 0부터 9까지 값을 2씩 건너뛰면서 추가한다.
    ```

    8. type : 데이터 type을 반환합니다.
    ```python
    a = 1
    b = '1'
    type(a), type(b)           # a의 type, b의 type을 반환한다.
    ```

    9. enumerate : list, tuple 등의 데이터를 열거할 때(iteration) 데이터 번호를 매겨주는 역할을 해줍니다.  
    ```python
    a = [1,2,3,4]
    for i, j in enumerate(a):  # a의 순서, 값을 순서대로 출력한다. 
            print(i, j)
    ```

    10. zip : 2개 이상의 데이터 구조를 묶어줍니다. 구조들을 열거할 때 사용합니다.
    ```python
    a = [1,2,3,4]
    b = range(len(a))
    for i, j in zip(a,b):      # a와 b에 대해 순서대로 1개의 값씩 출력한다. (a, b의 len이 다를 경우 데이터 수가 적은 양만큼만 출력한다.) 
            print(i,j)
    ```

In [20]:
# 예제3) lambda를 사용해서 grade와 수량을 입력해주면 "xx grade는 재고가 00만큼 있습니다." 라는 함수를 만들어보세요

In [21]:
# 예제4) len, max, min의 활용

#1. key로 grade, value로 생산량을 갖는 stock이라는 이름의 dict를 만들어보세요. (key, value : 3개)

#2. stock(dict)의 data 개수를 세어보세요. 

#3. stock 내에 첫 번째 grade의 글자 수를 세어보세요 (list와 keys라는 함수를 쓰세요)

#4. stock 내 가장 재고가 많은/적은 grade는 무엇인가요?

In [22]:
# 예제5) type 변경

date, prod_cd, prod_num = 20170511, 'CC01', '005'  

#1. 위 내용은 20170511 날짜에 CC01에서 생산된 005번째 Lot의 내용입니다. 세 변수를 합쳐서 Lot로 만들어보세요 

#2. Lot 전체 내용에서 생산 날짜만 가져옵니다. 그리고 형식을 '%Y-%m-%d'의 형식으로 출력해봅니다. ('2017-05-11')

In [23]:
# 예제6) 

#1. data라는 빈 dict를 만들어줍니다.

#2. keys에 list형식으로 grade를 3개 입력해줍니다.

#3. values에 list형식으로 재고를 3개 입력해줍니다. 

#4. zip을 사용해서 key, value에 대해 for문을 쓰고, data(빈 dict)에 keys, values로 추가합니다.(update)

- **정규식 간단 소개** : 정규식은 복잡한 문자를 처리할 때 사용하는 기법이다. 이를 사용해서 특정 규칙 만들고 이를 바탕으로 문자를 처리할 수 있습니다. 이 후 pandas data 처리하는 예제에서 다뤄 볼 예정입니다.

In [24]:
# 정규식 예제
import pandas as pd
data = pd.read_excel('C:/Users/Whi kwon/Documents/GitHub/optical_python/dataset/정규식 예제.xlsx')

In [25]:
data

              검사Lot
0   20170515CS01001
1   20170515CS01002
2   20170515CS01003
3   20170515CS01004
4   20170515CS01005
5   20170515CS01006
6   20170515CS01007
7   20170515FS01001
8   20170515FS01002
9   20170515FS01003
10  20170515FS01004
11  20170515FS01005
12  20170515FS01006
13  20170515FS01007

In [26]:
data.검사Lot.str.contains(r'CS')

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: 검사Lot, dtype: bool